body {
    background-image: url('../images/iceberg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.centered-content {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
}

.navbar-brand {
    font-size: 30px;
}

.nav-link {
    font-size: 30px;

}

#contactsArea {
    height: 100vh;
    overflow-y: auto;
}
